$page-columns: 12;
$main-columns: 8;
$content-columns: 6;
$gutter-columns: ($main-columns - $content-columns) / 2;

:root {
    --space-x-small: 0.25rem;
    --space-small: 0.5rem;
    --space-regular: 1rem;
    --space-large: 2rem;
    --space-x-large: 4rem;

    @include breakpoint("medium") {
        --space-x-small: 0.25rem;
        --space-small: 0.3333rem;
        --space-regular: 0.6667rem;
        --space-large: 1.3333rem;
        --space-x-large: 2rem;
    }
}

html, body {
    margin: 0;
    min-height: 100%;
}

main {
    @include column-span-w($main-columns, $page-columns);

    position: relative;
    margin: 0 auto;

    &::after {
        content: '';
        display: block;
        width: 0;
        position: absolute;
        top: 0;
        bottom: 0;
        right: column-width($main-columns) * 0.5;
        border-right: 2px dashed var(--color-secondary);
    }
}

nav {
    display: flex;
    position: sticky;
    top: -1px;
    @include column-span-p($content-columns, $main-columns);
    padding-top: calc(1px + var(--space-small));
    padding-bottom: var(--space-small);
    z-index: 100;

    .nav__mobile {
        display: none;
    }
    .nav__links {
        flex: 1;
        display: flex;
        justify-content: space-between;
    }
    .nav__link-group {
        display: flex;
        column-gap: var(--space-regular);
    }
}

header, section {
    @include column-span-p($content-columns, $main-columns);
    padding-top: column-width($main-columns) / 2;
    padding-bottom: column-width($main-columns) / 2;
    margin-bottom: column-width($main-columns) / 2;

    h1 {
        margin: 0;
    }

    h2 {
        margin-left: column-width($content-columns) * $gutter-columns * -1;
        margin-top: 0;
        margin-bottom: column-width($content-columns) * 0.25;
        padding-left: column-width($content-columns) * $gutter-columns;
        padding-right: var(--space-large);
        padding-top: var(--space-small);
        padding-bottom: var(--space-small);
        width: fit-content;
    }
}

header {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    margin-bottom: 0;
}
section:last-of-type {
    margin-bottom: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

@include breakpoint("medium") {
    $main-columns: 10;
    $content-columns: 8;
    $gutter-columns: ($main-columns - $content-columns) / 2;

    main {
        @include column-span-w($main-columns, $page-columns);

        &::after {
            content: none;
        }
    }

    nav {
        @include column-span-p($content-columns, $main-columns);
        overflow: hidden;
    }

    header, section {
        @include column-span-p($content-columns, $main-columns);
        padding-top: column-width($main-columns) / 2;
        padding-bottom: column-width($main-columns) / 2;
        margin-bottom: column-width($main-columns) / 2;
    }
    header {
        margin-bottom: 0;
    }
    section h2 {
        margin-bottom: column-width($content-columns) * 0.25;
        margin-left: column-width($content-columns) * $gutter-columns * -1;
        padding-left: column-width($content-columns) * $gutter-columns;
    }
}

@include breakpoint("small") {
    $main-columns: 11;
    $content-columns: 10;
    $gutter-columns: ($main-columns - $content-columns) / 2;

    main {
        @include column-span-w($main-columns, $page-columns);

        &::after {
            content: none;
        }
    }

    nav {
        @include column-span-p($content-columns, $main-columns);
        overflow: hidden;
    }

    header, section {
        @include column-span-p($content-columns, $main-columns);
        padding-top: column-width($main-columns) / 2;
        padding-bottom: column-width($main-columns) / 2;
        margin-bottom: column-width($main-columns) / 2;
    }
    header {
        margin-bottom: 0;
    }
    section h2 {
        margin-bottom: column-width($content-columns) * 0.25;
        margin-left: column-width($content-columns) * $gutter-columns * -1;
        padding-left: column-width($content-columns) * $gutter-columns;
    }
}

@include breakpoint("x-small") {
    main {
        width: auto;
        margin: 0 var(--space-regular);

        &::after {
            content: none;
        }
    }

    header { display: none; }

    nav {
        left: 0;
        right: 0;
        padding-left: calc(var(--space-regular) + var(--space-large));
        padding-right: calc(var(--space-regular) + var(--space-large));
        margin: 0 calc(-1 * var(--space-regular));

        .nav__mobile {
            flex: 1;
            display: flex;
            justify-content: space-between;
            align-items: center;

            h1 {
                margin-bottom: 0;
            }
        }
        .nav__links {
            display: none;
        }

        &.is-open {
            flex-direction: column;
            position: fixed;
            bottom: 0;
            margin: 0;
            
            .nav__mobile {
                flex: 0;
            }
            .nav__links {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: stretch;
                row-gap: var(--space-small);
                flex: 1;
            }
            .nav__link-group {
                display: flex;
                flex-direction: column;
                align-items: stretch;
                row-gap: var(--space-small);
            }
        }
    }

    header, section {
        padding-left: var(--space-large);
        padding-right: var(--space-large);
        padding-top: var(--space-large);
        padding-bottom: var(--space-large);
        margin-bottom: var(--space-large);
    }
    section h2 {
        margin-bottom: var(--space-large);
        margin-left: calc(-1 * var(--space-large));
        padding-left: var(--space-large);
        text-indent: 0;
        opacity: 1;
    }
}
