:root, :root.force-light-theme {
    --background-page: #f0f0f0;
    --background-main: white;
    --background-main-rgb: 255, 255, 255;
    --background-inlay: #f8f8f8;
    --color-primary: #524a47;
    --color-secondary: #9fb9cf;
    --color-accent: #ed9b8e;
    --text-on-main: #242424;
    --text-on-primary: white;
    --text-on-secondary: white;
    --text-on-accent: #242424;
    --text-interactive: #{adjust-color(#9fb9cf, $saturation: 33.33%, $lightness: -20%)};
    --transition-very-fast: .15s;
    --transition-fast: .25s;
    --transition-slow: .5s;
    --shadow-soft: 0 2px 8px rgba(0, 0, 0, .02);
    --shadow-hard: 0 2px 4px rgba(0, 0, 0, .08);
    --border-radius-regular: 0.5rem;
    --border-radius-tight: 0.25rem;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background-page: #222;
        --background-main: #333;
        --background-main-rgb: 51, 51, 51;
        --background-inlay: #444;
        --text-on-main: #ededed;
        --text-interactive: var(--color-secondary);
    }
}

:root.force-dark-theme {
    --background-page: #222;
    --background-main: #333;
    --background-main-rgb: 51, 51, 51;
    --background-inlay: #444;
    --text-on-main: #ededed;
    --text-interactive: var(--color-secondary);
}

canvas {
    opacity: 0;
    transition: opacity var(--transition-slow);

    &.is-ready {
        opacity: 1;
    }
}

body {
    background-color: var(--background-page);
    color: var(--text-on-main);
    transition:
        background-color var(--transition-fast),
        color var(--transition-fast);
}

div, section, header, nav {
    transition: background-color var(--transition-fast);
}

header {
    border-radius: 0 0 var(--border-radius-regular) var(--border-radius-regular);
}

nav {
    background-color: rgba(var(--background-main-rgb), 0);
    border-bottom: 2px solid transparent;
    user-select: none;
    transition:
        background-color var(--transition-fast),
        box-shadow var(--transition-fast),
        border-color var(--transition-fast);

    &.is-stuck, &.is-open {
        background-color: rgba(var(--background-main-rgb), .9);
        backdrop-filter: grayscale(1) blur(8px);
    }
    &.is-stuck:not(.is-open) {
        box-shadow: var(--shadow-soft);
        border-bottom: 2px solid var(--background-main);
    }
}

.nav__button {
    margin: 0;
    padding: 0;
    border: none;
    background: transparent;
    cursor: pointer;
    transition:
        transform var(--transition-fast),
        opacity var(--transition-fast);

    i {
        color: var(--text-interactive);
    }
}
nav .nav__button {
    transform: translateX(0);
    opacity: 1;
}
nav.is-open .nav__button {
    transform: translateX(-50%);
    opacity: 0;
}
#modal-nav .nav__button {
    transform: translateX(50%);
    opacity: 0;
}
#modal-nav.is-open .nav__button {
    transform: translateX(0);
    opacity: 1;
}

#modal-nav {
    transition: visibility 0s linear var(--transition-fast);

    &.is-open {
        transition-delay: 0s;
    }

    .modal-nav-content {
        background-color: rgba(var(--background-main-rgb), .9);
        backdrop-filter: grayscale(1) blur(8px);
        opacity: 0;
        transition:
            background-color var(--transition-fast),
            opacity var(--transition-fast);
    }
    &.is-open .modal-nav-content {
        opacity: 1;
    }

    .nav__delayed {
        display: flex;
        flex-direction: column;
        transform: translateX(calc(-1 * var(--space-large)));
        opacity: 0;
        transition-property: transform, opacity;
        transition-duration: var(--transition-fast);
    }
    &.is-open .nav__delayed {
        transform: translateX(0);
        opacity: 1;
    }

    $delay-step: .02;
    @for $i from 1 to 10 {
        .nav__delayed:nth-child(#{$i}) {
            transition-delay: #{$delay-step * $i}s;
        }
    }
}

section {
    background-color: rgba(var(--background-main-rgb), .95);
    box-shadow: var(--shadow-soft);
    backdrop-filter: grayscale(1);
    border-radius: var(--border-radius-regular);

    &:last-of-type {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }

    h2 {
        background-image: url('images/dots.png');
        background-repeat: repeat;
        background-color: var(--color-primary);
        color: var(--text-on-primary);
    }
}

i {
    color: var(--color-accent);
}

code, pre {
    background-color: var(--background-inlay);
    padding: 2px;
    border-radius: var(--border-radius-tight);
    transition: background-color var(--transition-fast);
}
pre {
    padding: var(--space-regular);

    code {
        background-color: transparent;
        padding: 0;
        border-radius: 0;
    }
}

a:link, a:visited {
    position: relative;
    color: var(--text-interactive);
    box-shadow: 0 0 1px 0 transparent;
    transition:
        background-color var(--transition-very-fast),
        color var(--transition-very-fast),
        box-shadow var(--transition-very-fast),
        opacity var(--transition-very-fast);

    i {
        transition: color var(--transition-very-fast);
    }

    &:hover, &:active {
        color: var(--text-on-secondary);
        background-color: var(--color-secondary);
        box-shadow: 0 0 0 2px var(--color-secondary);

        i {
            color: var(--text-on-secondary);
        }
    }
    
}
