.gallery {
    --aspect-ratio: 1;
    display: grid;
    grid-gap: var(--space-regular);

    @include breakpoint("xx-large") {
        grid-template-columns: repeat(6, 1fr);
    }
    @include breakpoint("x-large") {
        grid-template-columns: repeat(5, 1fr);
    }
    @include breakpoint("large") {
        grid-template-columns: repeat(4, 1fr);
    }
    @include breakpoint("small") {
        grid-template-columns: repeat(3, 1fr);
    }
    @include breakpoint("xx-small") {
        grid-template-columns: repeat(2, 1fr);
    }
}

a.gallery__item {
    position: relative;
    width: 100%;
    overflow: hidden;
    border-radius: var(--border-radius-regular);
    background-color: var(--background-inlay);
    background-size: cover;
    background-position: center;
    transition:
        box-shadow var(--transition-fast),
        transform var(--transition-fast);
    transform: translate3d(0, 0, 0);

    &::before {
        content: '';
        display: block;
        padding-top: calc(1 / var(--aspect-ratio) * 100%);
        position: static;
    }
    &:hover::before {
        background: transparent;
    }

    & > :first-child {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }

    &:hover {
        transform: translate3d(0, calc(-1 * var(--space-x-small)), 0);
        box-shadow: var(--shadow-hard);
    }
}

.gallery__item-caption {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity var(--transition-fast);

    &:hover {
        opacity: 0;
    }

    &::before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: var(--color-secondary);
        background-image: url('images/dots.png');
        background-repeat: repeat;
        opacity: .3333;
    }

    p {
        z-index: 0;
        padding: 3px;
        margin: 0 var(--space-small);
        border-radius: var(--border-radius-tight);
        background-color: var(--background-main);
        color: var(--color-interactive);
        transition:
            transform var(--transition-fast),
            background-color var(--transition-fast),
            color var(--transition-fast);
        text-align: center;
    }
    &:hover p {
        transform: translateY(var(--space-regular));
    }
}
