.project-links {
    text-align: center;
    margin: var(--space-x-large) 0;
}

.project-links a {
    display: inline-block;
    margin-right: var(--space-regular);
    padding: var(--space-regular) var(--space-large);
    border: 1px solid var(--color-secondary);
    border-radius: var(--border-radius-tight);
    transition:
        color var(--transition-fast),
        background-color var(--transition-fast);

    &:last-of-type {
        margin-right: 0;
    }

    &:hover {
        background-color: var(--color-secondary);
        box-shadow: none;
    }

    &.is-disabled {
        cursor: help;
        border: none;

        &:hover {
            background-color: transparent;
        }

        .project-links__label {
            color: var(--text-on-main);
            text-decoration: line-through;
            opacity: 0.5;
        }
    }

    .project-links__info {
        color: var(--text-on-main);
        opacity: 0.5;
    }
}
