#tagline-container {
    position: relative;
    margin-top: 0;
    vertical-align: top;
    cursor: pointer;
    user-select: none;
    transition: opacity var(--transition-fast);

    &:not(.is-ready) {
        cursor: default;
        opacity: 0;

        i {
            transform: translate3d(0,0,0) rotate(-90deg);
        }
    }

    span {
        display: inline-block;
        transform: translate3d(0, 0, 0);
    }
    button {
        background: transparent;
        border: none;
        margin-left: var(--space-small);
        padding: 0;

        cursor: pointer;
        i {
            transform: translate3d(0, 0, 0) rotate(0deg);
            color: var(--color-secondary);
            transition: opacity var(--transition-fast), color var(--transition-fast), transform var(--transition-slow);
        }
    }
    &:hover button i {
        transform: translate3d(0, 0, 0) rotate(25deg);
        color: var(--color-accent);
    }

    &[data-anim-state="idle"] {
        #old-tagline {
            display: none;
        }
    }

    &[data-anim-state="before"] {
        #tagline {
            // transform: translateX(-50%);
            transform: perspective(400px) translate3d(0, -50%, 0) rotateX(60deg);
            opacity: 0;
        }
        #old-tagline {
            display: inline-block;
            position: absolute;
            left: 0;
            opacity: 1;
        }
    }

    &[data-anim-state="play"] {
        span {
            transition:
                opacity var(--transition-slow),
                transform var(--transition-slow);
        }
        #old-tagline {
            display: inline-block;
            position: absolute;
            left: 0;
            transform: perspective(400px) translate3d(0, 50%, 0) rotateX(-60deg);
            opacity: 0;
            i {
                transform: translate3d(0,0,0) rotate(270deg);
                transition: opacity var(--transition-slow), transform var(--transition-slow);
            }
        }
        #tagline {
            transform: perspective(400px) translate3d(0, 0, 0) rotateX(0);
            opacity: 1;
            i {
                transform: translate3d(0,0,0) rotate(-90deg);
                opacity: 0;
                transition: none;
            }
        }
    }
}