.topic-group {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: var(--space-large) var(--space-regular);
    margin: var(--space-large) 0;

    &:first-child {
        margin-top: 0;
    }
    &:last-child {
        margin-bottom: 0;
    }
}

.topic-group__topic.full {
    grid-column-start: 1;
    grid-column-end: 3;
}

@include breakpoint("x-small") {
    .topic-group {
        grid-template-columns: 1fr;
    }

    .topic-group__topic.full {
        grid-column-start: unset;
        grid-column-end: unset;
    }
}
