{%- extends "base.html" -%}

{%- block title -%}
Robin O&apos;Connell
{%- endblock title -%}

{%- block home_href -%}
/#top
{%- endblock home_href -%}

{%- block content -%}
<section id="projects">
    <h2>Projects</h2>
    {%- include "home/projects.html" -%}
</section>
<section id="skills">
    <h2>Skills</h2>
    {%- include "home/skills.html" -%}
</section>
<section id="about">
    <h2>About Me</h2>
    {%- include "home/about.html" -%}
</section>
{%- endblock content -%}
