{%- macro project_links(live_url, repo_url) -%}
<div class="project-links">
    {%- if live_url is not starting_with('?') -%}
    <a href="{{ live_url }}" target="_blank">
        <i class="fas fa-bolt"></i>
        <span class="project-links__label">Try it</span>
    </a>
    {%- else -%}
    <a class="is-disabled" aria-label="{{ live_url | trim_start_matches(pat='?') }}" role="tooltip" data-microtip-position="top">
        <i class="fas fa-bolt"></i>
        <span class="project-links__label">Try it</span>
        <i class="project-links__info far fa-question-circle fa-sm"></i>
    </a>
    {%- endif -%}

    {%- if repo_url is not starting_with('?') -%}
    <a href="{{ repo_url }}" target="_blank">
        <i class="fas fa-code"></i>
        <span class="project-links__label">Source</span>
    </a>
    {%- else -%}
    <a class="is-disabled" aria-label="{{ repo_url | trim_start_matches(pat='?') }}" role="tooltip" data-microtip-position="top">
        <i class="fas fa-code"></i>
        <span class="project-links__label">Source</span>
        <i class="project-links__info far fa-question-circle fa-sm" ></i>
    </a>
    {%- endif -%}
</div>
{%- endmacro -%}
